
<style>
table.characters td {border: none; }
table.characters tr:nth-child(even) {background: #eee;}
table.characters td { text-align: center; padding-left: 10px; padding-right: 10px; }
tr.bold td { font-weight:900; }
table.characters td:first-child { font-weight:900;}
</style>

<table padding=0 border=0 cellspacing=0 class="characters">

<tr class="bold">
   <td></td>
   <td>x0</td>
   <td>x1</td>
   <td>x2</td>
   <td>x3</td>
   <td>x4</td>
   <td>x5</td>
   <td>x6</td>
   <td>x7</td>
   <td>x8</td>
   <td>x9</td>
</tr>


<tr>
   <td>0x</td>
   <td>0</td>
   <td>1</td>
   <td>2</td>
   <td>3</td>
   <td>4</td>
   <td>5</td>
   <td>6</td>
   <td>7</td>
   <td>8</td>
   <td>9</td>
</tr>

<tr>
   <td>1x</td>
   <td>A</td>
   <td>B</td>
   <td>C</td>
   <td>D</td>
   <td>E</td>
   <td>F</td>
   <td>G</td>
   <td>H</td>
   <td>I</td>
   <td>J</td>
</tr>

<tr>
   <td>2x</td>
   <td>K</td>
   <td>L</td>
   <td>M</td>
   <td>N</td>
   <td>O</td>
   <td>P</td>
   <td>Q</td>
   <td>R</td>
   <td>S</td>
   <td>T</td>
</tr>

<tr>
   <td>3x</td>
   <td>U</td>
   <td>V</td>
   <td>W</td>
   <td>X</td>
   <td>Y</td>
   <td>Z</td>
   <td>.</td>
   <td>,</td>
   <td>(</td>
   <td>)</td>
</tr>

<tr>
   <td>4x</td>
   <td>a</td>
   <td>b</td>
   <td>c</td>
   <td>d</td>
   <td>e</td>
   <td>f</td>
   <td>g</td>
   <td>h</td>
   <td>i</td>
   <td>j</td>
</tr>

<tr>
   <td>5x</td>
   <td>k</td>
   <td>l</td>
   <td>m</td>
   <td>n</td>
   <td>o</td>
   <td>p</td>
   <td>q</td>
   <td>r</td>
   <td>s</td>
   <td>t</td>
</tr>

<tr>
   <td>6x</td>
   <td>u</td>
   <td>v</td>
   <td>w</td>
   <td>x</td>
   <td>y</td>
   <td>z</td>
   <td>:</td>
   <td>;</td>
   <td>? (??)</td>
   <td>! (!!)</td>
</tr>

<tr>
   <td>7x</td>
   <td>+</td>
   <td>&ndash;</td>
   <td>*</td>
   <td>\</td>
   <td>=</td>
   <td>`</td>
   <td>'</td>
   <td>unused</td>
   <td>"</td>
   <td>unused</td>
</tr>

<tr>
   <td>8x</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
</tr>

<tr>
   <td>9x</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>unused</td>
   <td>&bull; (!0)</td>
   <td>&ldquor; (!1)</td>
   <td>&rdquo; (!2)</td>
   <td>&iexcl; (!3)</td>
   <td>&cent; (!4)</td>
   <td>&pound; (!5)</td>
</tr>

<tr>
   <td>10x</td>
   <td>&sect; (!6)</td>
   <td>&curren; (!7)</td>
   <td>(!8)</td>
   <td>&ldquo; (!9)</td>
   <td>&Aring; (!A)</td>
   <td>&Dagger; (!D)</td>
   <td>&Scaron; (!S)</td>
   <td>unknown</td>
   <td>&Zcaron; (!Z)</td>
   <td>&aring; (!a)</td>
</tr>

<tr>
   <td>11x</td>
   <td>&dagger; (!d)</td>
   <td>&hellip; (!e)</td>
   <td>&fnof; (!f)</td>
   <td>&laquo; (!g)</td>
   <td>&raquo; (!h)</td>
   <td>&filig; (!i)</td>
   <td>&lsaquo; (!j)</td>
   <td>&rsaquo; (!k)</td>
   <td>&fllig; (!l)</td>
   <td>&mdash; (!m)</td>
</tr>

<tr>
   <td>12x</td>
   <td>&ndash; (!n)</td>
   <td>&para; (!p)</td>
   <td>&iquest; (!q)</td>
   <td>&scaron; (!s)</td>
   <td>&yen; (!y)</td>
   <td>&zcaron; (!z)</td>
   <td>#</td>
   <td>$</td>
   <td>%</td>
   <td>&</td>
</tr>

<tr>
   <td>13x</td>
   <td>_</td>
   <td>_</td>
   <td>(?-)</td>
   <td>&lt;</td>
   <td>&gt;</td>
   <td>@</td>
   <td>&AElig; (?A)</td>
   <td>&OElig; (?E)</td>
   <td>&Lstrok; (?L)</td>
   <td>&Oslash; (?O)</td>
</tr>

<tr>
   <td>14x</td>
   <td>[ (?[)</td>
   <td>\ (?\)</td>
   <td>] (?])</td>
   <td>&aelig; (?a)</td>
   <td>&copy; (?c)</td>
   <td>&oelig; (?e)</td>
   <td>&ordf; (?f)</td>
   <td>&lstrok; (?l)</td>
   <td>&oslash; (?o)</td>
   <td>&reg; (?r)</td>
</tr>

<tr>
   <td>15x</td>
   <td>&szlig; (?s)</td>
   <td>&trade; (?t)</td>
   <td>{ (?{)</td>
   <td>| (?|)</td>
   <td>} (?})</td>
   <td>unkown</td>
   <td>&ordm; (?m)</td>
   <td>unknown</td>
   <td>unknown</td>
   <td>unknown</td>
</tr>

<tr>
   <td>16x</td>
   <td>unknown</td>
   <td>unknown</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
</tr>



</table>
