
obj
lib

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tests/analyzepitch
tests/analyzestaves
tests/beamtest
tests/chordtest
tests/chromate
tests/courtesy
tests/double2duration
tests/extractstaff
tests/extractsystem
tests/itemtest
tests/itemdur
tests/readtest
tests/scoreitems2xml
tests/staffdurations
tests/staffoffsets
tests/stemtest
tests/systeminfo
tests/systemrhythm
tests/systemsort


