_site
Gemfile.lock

obj
lib
bin

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tests/analyzelyrics
tests/analyzepitch
tests/analyzestaves
tests/beamtest
tests/chordtest
tests/chromate
tests/double2duration
tests/extractlyrics
tests/extractstaff
tests/extractsystem
tests/itemtest
tests/itemdur
tests/lcminfo
tests/readtest
tests/scorediff
tests/scoreitems2xml
tests/segmentinfo
tests/staffdurations
tests/staffoffsets
tests/stemtest
tests/systeminfo
tests/systemrhythm
tests/systemsort
tests/tieinfo
tests/tupletinfo

data/dufay

src-programs/chordquiz.cpp

