
obj
lib

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tests/analyzestaves
tests/extractstaff
tests/itemtest
tests/readtest
tests/scoreitems2xml
tests/staffdurations
tests/staffoffsets
tests/stemtest

