---
layout: default
title: About
persistent: /about
javascript: ['js/turnonoff-sticky.html']
pagetitle: About Scorelib
---

Scorelib is a C++ library for parsing and converting <a
href=../formats/>SCORE data files</a> into other musical data
formats.  The code library also contains a collection of 
<a href=../program>utility programs</a> which illustrate the use of
the Scorelib library.

<h1> Example SCORE data </h1>

Each musical item is represented by a list of numeric parameters
in the SCORE editor.  These value are typically stored in a <a
href=../formats/binary>binary file format</a>, but can be saved as
lines of numbers in ASCII text with the PMX command.  Lines in the
PMX data can occur in any order (except for certain items type like
text objects which consist of two adjacent lines). 

<p>
<div id="pmxlist" style="padding-left: 100px; width:550px; height: 400px; white-space: nowrap; overflow-y:scroll; overflow-x: hidden;">
<div style="background-color:#f3f3f3; line-height: 1.10; padding: 5px; font-family:'Courier New',Courier,monospace; font-weight:600;">
{% include examples/beethoven-sonata26/beethoven-sonata26-pmx.html %}
</div>
</div>

<p>
Scroll through the above data and move the mouse over a particular
line to highlight the corresponding item in the graphic notation below. Or
mouse over the notation to see the PMX data for each graphical element.

<p>
<center>
{% include examples/beethoven-sonata26/beethoven-sonata26-svg.html %}
</center>
<span style="line-height: 1.10; position:relative; bottom:25px; left:43px; font-family:'Courier New',Courier,monospace; font-weight:600; color:red;" id="XIinfo">&nbsp;</span><br>


