
<!-- Used on the about page to highlight PMX and SVG equivalences -->

<script>

function turnon(klass) {
   var items = document.getElementsByClassName(klass);
   var items2 = document.getElementsByClassName(klass + "back");
   var info = "";
   for (var i=0; i<items.length; i++) {
      items.item(i).style.color = "red";
      items.item(i).style.stroke = "red";
      if (items.item(i).tagName == "SPAN") {
         info = items.item(i).innerHTML;
      }
   }
   var re = /[0-9]+/;
   var infobox = document.getElementById(klass.replace(re, "info"));
   if (infobox != null) {
      infobox.innerHTML = info;
   }
}

function turnoff(klass) {
   var items = document.getElementsByClassName(klass);
   var items2 = document.getElementsByClassName(klass + "back");
   for (var i=0; i<items.length; i++) {
      items.item(i).style.color = "black";
      items.item(i).style.stroke = "black";
   }
   var re = /[0-9]+/;
   var infobox = document.getElementById(klass.replace(re, "info"));
   if (infobox != null) {
      infobox.innerHTML = "";
   }
}

</script>
