<footer class="site-footer">
<table width="100%">
<tr>
<td>
	{% include group.html %}
</td>
<td width=275>
	<ul class="github">
		<li><a href="https://github.com/craigsapp/scorelib/zipball/master">Download <strong>ZIP File</strong></a></li>
		<li><a href="https://github.com/craigsapp/scorelib/tarball/master">Download <strong>TAR Ball</strong></a></li>
		<li><a target="new" href="https://github.com/craigsapp/scorelib">View On <strong>GitHub</strong></a></li>
	</ul>
</td>
</tr>
</table>
</footer>
