<footer class="site-footer">

  <div class="footerwrap">
    <div class="footer-col-1 column">
  {% include group.html %}
    </div>

    <div class="footer-col-2 column">
	<ul>
		<li><a href="https://github.com/craigsapp/scorelib/zipball/master">Download <strong>ZIP File</strong></a></li>
		<li><a href="https://github.com/craigsapp/scorelib/tarball/master">Download <strong>TAR Ball</strong></a></li>
		<li><a target="new" href="https://github.com/craigsapp/scorelib">View On <strong>GitHub</strong></a></li>
	</ul>
    </div>

    <div class="footer-col-3 column">
    </div>

  </div>

</footer>
