
<div class="docslot" id="ScoreUtility::analyzeStaffTies"><span class="docslot-short-title" style="padding-left:19px;">analyzeStaffTies</span><span class='short-desc'> &mdash; Calculate variables which are used to link slurs/ties across </span></div>
<div class="docslot" id="ScoreUtility::identifySlurStartStopOffsets"><span class="docslot-short-title" style="padding-left:19px;">identifySlurStartStopOffsets</span><span class='short-desc'> &mdash; Helper function for ScoreUtility::analyzeStaffTies.</span></div>
<div class="docslot" id="ScoreUtility::linkNotesByTie"><span class="docslot-short-title" style="padding-left:19px;">linkNotesByTie</span><span class='short-desc'> &mdash; Helper function for ScoreUtility::identifySlurStartStopOffsets.</span></div>

