
<div class="docslot" id="ScoreUtility::equalClefs"><span class="docslot-short-title" style="padding-left:19px;">equalClefs</span><span class='short-desc'> &mdash; Return true if two items reprepresent the same clef.</span></div>
<div class="docslot" id="ScoreUtility::equalTimeSigs"><span class="docslot-short-title" style="padding-left:19px;">equalTimeSigs</span><span class='short-desc'> &mdash; Returns true if two items represent the same time signature.</span></div>
<div class="docslot" id="ScoreUtility::equalKeySigs"><span class="docslot-short-title" style="padding-left:19px;">equalKeySigs</span><span class='short-desc'> &mdash; Returns true if two items represent the same key signature.</span></div>

