
<div class="docslot" id="ScoreUtility::printXmlTextEscapedUTF8"><span class="docslot-short-title" style="padding-left:19px;">printXmlTextEscapedUTF8</span><span class='short-desc'> &mdash; Converts SCORE text to UTF-8, using XML entities.</span></div>
<div class="docslot" id="ScoreUtility::getTextNoFontXmlEscapedUTF8"><span class="docslot-short-title" style="padding-left:19px;">getTextNoFontXmlEscapedUTF8</span><span class='short-desc'> &mdash; Converts SCORE text to UTF-8, using XML entities.</span></div>

