
<div class="docslot" id="ScoreUtility::base7ToBase40"><span style="padding-left:19px; font-weight:900">base7ToBase40</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToBase7PitchClass"><span style="padding-left:19px; font-weight:900">base7ToBase40</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToUCDiatonicLetter"><span style="padding-left:19px; font-weight:900">base40ToUCDiatonicLetter</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToLCDiatonicLetter"><span style="padding-left:19px; font-weight:900">base40ToLCDiatonicLetter</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToBase7"><span style="padding-left:19px; font-weight:900">base40ToBase7</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToChromaticAlteration"><span style="padding-left:19px; font-weight:900">base40ToChromaticAlteration</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::base40ToKern"><span style="padding-left:19px; font-weight:900">base40ToKern</span><span class='short-desc'> &mdash;</span></div>

