
<div class="docslot" id="ScoreUtility::analyzeStaffTies"><span style="padding-left:19px; font-weight:900">analyzeStaffTies</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::identifySlurStartStopOffsets"><span style="padding-left:19px; font-weight:900">identifySlurStartStopOffsets</span><span class='short-desc'> &mdash;</span></div>
<div class="docslot" id="ScoreUtility::linkNotesByTie"><span style="padding-left:19px; font-weight:900">linkNotesByTie</span><span class='short-desc'> &mdash;</span></div>

