
<div class="docslot" id="ScoreItemBase::operator="><span style="padding-left:19px; font-weight:900">operator=</span><span class='short-desc'> &mdash; Copy from another item object.</span></div>
<div class="docslot" id="ScoreItemBase::clear"><span style="padding-left:19px; font-weight:900">clear</span><span class='short-desc'> &mdash; Erase all contents of the item.</span></div>
<div class="docslot" id="ScoreItemBase::getParameter"><span style="padding-left:19px; font-weight:900">getParameter</span><span class='short-desc'> &mdash; </span></div>
<div class="docslot" id="ScoreItemBase::getParameterInt"><span style="padding-left:19px; font-weight:900">getParameterInt</span><span class='short-desc'> &mdash; </span></div>
