
<div class="docslot" id="ScoreItemBase::operator="><span class="docslot-short-title" style="padding-left:19px;">operator=</span><span class='short-desc'> &mdash; Copy from another item object.</span></div>
<div class="docslot" id="ScoreItemBase::clear"><span class="docslot-short-title" style="padding-left:19px;">clear</span><span class='short-desc'> &mdash; Erase all contents of the item.</span></div>
<div class="docslot" id="ScoreItemBase::getParameter"><span class="docslot-short-title" style="padding-left:19px;">getParameter</span><span class='short-desc'> &mdash; Return a fixed or named parameter value.</span></div>
<div class="docslot" id="ScoreItemBase::getParameterInt"><span class="docslot-short-title" style="padding-left:19px;">getParameterInt</span><span class='short-desc'> &mdash; Return a fixed or named parameter value as an integer.</span></div>

