<span style="font-family:'Courier New',Courier,monospace; font-weight:600;">
# measure 1:<br>
<span class="XI1" onmouseover="turnon('XI1')" onmouseout="turnoff('XI1')" >8 1 0 0 0.75 200</span><br>
<span class="XI2" onmouseover="turnon('XI2')" onmouseout="turnoff('XI2')" >14 1 0 2</span><br>
<span class="XI3" onmouseover="turnon('XI3')" onmouseout="turnoff('XI3')" >14 1 0 2 8</span><br>
<span class="XI4" onmouseover="turnon('XI4')" onmouseout="turnoff('XI4')" >8 2 0 -1.5 0.75 200</span><br>
<span class="XI5" onmouseover="turnon('XI5')" onmouseout="turnoff('XI5')" >3 1 2.208 0 1</span><br>
<span class="XI6" onmouseover="turnon('XI6')" onmouseout="turnoff('XI6')" >3 2 2.208</span><br>
<span class="XI7" onmouseover="turnon('XI7')" onmouseout="turnoff('XI7')" >17 1 8.333 0 -3 1</span><br>
<span class="XI8" onmouseover="turnon('XI8')" onmouseout="turnoff('XI8')" >17 2 8.333 0 -3</span><br>
<span class="XI9" onmouseover="turnon('XI9')" onmouseout="turnoff('XI9')" >18 1 15.55 0 2 4</span><br>
<span class="XI10" onmouseover="turnon('XI10')" onmouseout="turnoff('XI10')" >18 2 15.55 0 2 4</span><br>
<span class="XI11" onmouseover="turnon('XI11')" onmouseout="turnoff('XI11')">t 2 16.499 19.375 1 1.25 0 0 0 0 -1.013 0 9<br>
_00Adagio</span><br>
<span class="XI12" onmouseover="turnon('XI12')" onmouseout="turnoff('XI12')" >9 2 23.682 -3 53</span><br>
<span class="XI13" onmouseover="turnon('XI13')" onmouseout="turnoff('XI13')">t 2 24.21 14 1 1 0 0 0 0 0 0 5<br>
_00Le</span><br>
<span class="XI14" onmouseover="turnon('XI14')" onmouseout="turnoff('XI14')" >2 1 24.218 0 -2 0 2 0 31.77</span><br>
<span class="XI15" onmouseover="turnon('XI15')" onmouseout="turnoff('XI15')" >1 2 24.218 5 0 0 1</span><br>
<span class="XI16" onmouseover="turnon('XI16')" onmouseout="turnoff('XI16')" >1 2 24.218 3 10 0 1 2</span><br>
<span class="XI17" onmouseover="turnon('XI17')" onmouseout="turnoff('XI17')">t 2 24.295 -8.625 1 1 0 0 0 0 -1.013 0 13<br>
_02espressivo</span><br>
<span class="XI18" onmouseover="turnon('XI18')" onmouseout="turnoff('XI18')">t 2 30.835 13.625 1 1 0 0 0 0 0 0 4<br>
_00-</span><br>
<span class="XI19" onmouseover="turnon('XI19')" onmouseout="turnoff('XI19')">t 2 35.64 14 1 1 0 0 0 0 0 0 5<br>
_00be</span><br>
<span class="XI20" onmouseover="turnon('XI20')" onmouseout="turnoff('XI20')" >1 2 35.64 4 0 0 1</span><br>
<span class="XI21" onmouseover="turnon('XI21')" onmouseout="turnoff('XI21')" >1 2 35.64 0 10 0 1 4</span><br>
<br>
# measure 2:<br>
<span class="XI22" onmouseover="turnon('XI22')" onmouseout="turnoff('XI22')" >14 1 47.42 2</span><br>
<span class="XI23" onmouseover="turnon('XI23')" onmouseout="turnoff('XI23')" >1 2 50.045 3 0 0 1.5 0 10</span><br>
<span class="XI24" onmouseover="turnon('XI24')" onmouseout="turnoff('XI24')">t 2 50.045 14 1 1 0 0 0 0 0 0 7<br>
_00wohl</span><br>
<span class="XI25" onmouseover="turnon('XI25')" onmouseout="turnoff('XI25')" >1 2 50.045 -2 10 0 1.5 5 10</span><br>
<span class="XI26" onmouseover="turnon('XI26')" onmouseout="turnoff('XI26')" >1 1 50.045 -1 10 0 1.5 7 10</span><br>
<span class="XI27" onmouseover="turnon('XI27')" onmouseout="turnoff('XI27')" >1 1 50.045 6 0 0 1.5 0 10</span><br>
<span class="XI28" onmouseover="turnon('XI28')" onmouseout="turnoff('XI28')" >6 2 64.619 5.5 6 71.8 12 0 0 21 0 71.8</span><br>
<span class="XI29" onmouseover="turnon('XI29')" onmouseout="turnoff('XI29')" >1 2 64.619 3 10 0 0.375 2.5 10.95</span><br>
<span class="XI30" onmouseover="turnon('XI30')" onmouseout="turnoff('XI30')" >1 1 64.619 6 10 0 0.5 2 1</span><br>
<span class="XI31" onmouseover="turnon('XI31')" onmouseout="turnoff('XI31')" >1 1 64.619 8 0 0 0.5</span><br>
<span class="XI32" onmouseover="turnon('XI32')" onmouseout="turnoff('XI32')" >5 2 65.244 1 4 71.8 -1.1633 -1</span><br>
<span class="XI33" onmouseover="turnon('XI33')" onmouseout="turnoff('XI33')" >1 2 71.803 6 10 0 0.125</span><br>
<br>
# measure 3:<br>
<span class="XI34" onmouseover="turnon('XI34')" onmouseout="turnoff('XI34')" >14 1 77.022 2</span><br>
<span class="XI35" onmouseover="turnon('XI35')" onmouseout="turnoff('XI35')" >1 2 80.335 5 10 0 0.5 2.5</span><br>
<span class="XI36" onmouseover="turnon('XI36')" onmouseout="turnoff('XI36')" >6 2 80.335 7.5 8.88 95.35 11 0 0 11 88.88 95.35 21 0 95.35</span><br>
<span class="XI37" onmouseover="turnon('XI37')" onmouseout="turnoff('XI37')" >1 1 80.335 5 10 0 0.5 1.5</span><br>
<span class="XI38" onmouseover="turnon('XI38')" onmouseout="turnoff('XI38')" >1 1 80.335 8 3 0 0.5</span><br>
<span class="XI39" onmouseover="turnon('XI39')" onmouseout="turnoff('XI39')" >6 1 80.335 6.5 7.5 107.87 11</span><br>
<span class="XI40" onmouseover="turnon('XI40')" onmouseout="turnoff('XI40')" >1 1 88.169 8 0 0 0.5</span><br>
<span class="XI41" onmouseover="turnon('XI41')" onmouseout="turnoff('XI41')" >1 1 88.169 5 10 0 0.5 1.78</span><br>
<span class="XI42" onmouseover="turnon('XI42')" onmouseout="turnoff('XI42')" >1 2 88.169 5 10 0 0.375 3.31 10.95 1</span><br>
<span class="XI43" onmouseover="turnon('XI43')" onmouseout="turnoff('XI43')" >5 2 90.169 15.88 16.5 96.25 1.0133 -1 0 0.55 0 0 0.8</span><br>
<span class="XI44" onmouseover="turnon('XI44')" onmouseout="turnoff('XI44')" >1 2 95.353 9 11 0 0.125 -0.13</span><br>
<span class="XI45" onmouseover="turnon('XI45')" onmouseout="turnoff('XI45')" >1 1 99.301 4 13 0 0.5 3.19</span><br>
<span class="XI46" onmouseover="turnon('XI46')" onmouseout="turnoff('XI46')" >1 1 99.301 9 0 0 0.5</span><br>
<span class="XI47" onmouseover="turnon('XI47')" onmouseout="turnoff('XI47')" >6 2 99.301 9 10 115.39 11 0 0 11 107.87 115.39 21 0 115.39</span><br>
<span class="XI48" onmouseover="turnon('XI48')" onmouseout="turnoff('XI48')" >1 2 99.301 8 10 0 0.5 1</span><br>
<span class="XI49" onmouseover="turnon('XI49')" onmouseout="turnoff('XI49')" >1 1 107.866 4 11.18 0 0.5 3.5</span><br>
<span class="XI50" onmouseover="turnon('XI50')" onmouseout="turnoff('XI50')" >1 1 107.866 9 2 0 0.5</span><br>
<span class="XI51" onmouseover="turnon('XI51')" onmouseout="turnoff('XI51')" >1 2 107.866 8 10 0 0.375 1.53 10</span><br>
<span class="XI52" onmouseover="turnon('XI52')" onmouseout="turnoff('XI52')" >5 2 109.16 17.38 17.88 116.18 1.0633 -1</span><br>
<span class="XI53" onmouseover="turnon('XI53')" onmouseout="turnoff('XI53')" >9 2 111.857 2.88 75 0.65</span><br>
<span class="XI54" onmouseover="turnon('XI54')" onmouseout="turnoff('XI54')" >9 2 113.767 -0.25 8 0.18</span><br>
<span class="XI55" onmouseover="turnon('XI55')" onmouseout="turnoff('XI55')" >9 2 113.892 4.75 8 0.2</span><br>
<span class="XI56" onmouseover="turnon('XI56')" onmouseout="turnoff('XI56')" >1 2 115.386 9 13 0 0.125 1</span><br>
<br>
# measure 4:<br>
<span class="XI57" onmouseover="turnon('XI57')" onmouseout="turnoff('XI57')" >14 1 120.605 2</span><br>
<span class="XI58" onmouseover="turnon('XI58')" onmouseout="turnoff('XI58')" >1 2 123.23 10 10 0 0.75 -0.5 10</span><br>
<span class="XI59" onmouseover="turnon('XI59')" onmouseout="turnoff('XI59')" >6 2 123.23 9.5 7.5 141.98 11 0 0 11 0 136.1</span><br>
<span class="XI60" onmouseover="turnon('XI60')" onmouseout="turnoff('XI60')" >6 2 123.23 5 4 141.98 21</span><br>
<span class="XI61" onmouseover="turnon('XI61')" onmouseout="turnoff('XI61')" >1 2 123.23 3 20 0 0.5 -2</span><br>
<span class="XI62" onmouseover="turnon('XI62')" onmouseout="turnoff('XI62')" >1 1 123.23 10 10 0 0.5 -0.5</span><br>
<span class="XI63" onmouseover="turnon('XI63')" onmouseout="turnoff('XI63')" >6 1 123.23 9.5 10.5 141.98 11</span><br>
<span class="XI64" onmouseover="turnon('XI64')" onmouseout="turnoff('XI64')" >5 1 123.23 8 10 141.98 -1.9215 -1</span><br>
<span class="XI65" onmouseover="turnon('XI65')" onmouseout="turnoff('XI65')" >1 1 123.23 3 20 0 1.5 -1.5 10</span><br>
<span class="XI66" onmouseover="turnon('XI66')" onmouseout="turnoff('XI66')" >5 2 123.48 17.38 15.13 142.23 1.7271 -4</span><br>
<span class="XI67" onmouseover="turnon('XI67')" onmouseout="turnoff('XI67')" >1 2 132.078 4 22.28 0 0.5 -0.53</span><br>
<span class="XI68" onmouseover="turnon('XI68')" onmouseout="turnoff('XI68')" >1 1 132.078 11 13 0 0.5 -1.03</span><br>
<span class="XI69" onmouseover="turnon('XI69')" onmouseout="turnoff('XI69')" >1 2 132.078 3 0 0 0.5 0 0 20</span><br>
<span class="XI70" onmouseover="turnon('XI70')" onmouseout="turnoff('XI70')" >1 2 136.099 8 10 0 0.25 0.13</span><br>
<span class="XI71" onmouseover="turnon('XI71')" onmouseout="turnoff('XI71')" >1 1 141.984 12 13 0 0.5 -1.5</span><br>
<span class="XI72" onmouseover="turnon('XI72')" onmouseout="turnoff('XI72')" >1 2 141.984 2 0 0 0.5</span><br>
<span class="XI73" onmouseover="turnon('XI73')" onmouseout="turnoff('XI73')" >1 2 141.984 5 20 0 0.5 1</span><br>
<span class="XI74" onmouseover="turnon('XI74')" onmouseout="turnoff('XI74')" >1 2 141.984 7 13 0 0.5 0.5</span><br>
<span class="XI75" onmouseover="turnon('XI75')" onmouseout="turnoff('XI75')" >5 2 149.193 14.88 19 154.85 1.6255 -1 0 0.45</span><br>
<span class="XI76" onmouseover="turnon('XI76')" onmouseout="turnoff('XI76')" >2 1 149.818 0 1 0 0.5</span><br>
<span class="XI77" onmouseover="turnon('XI77')" onmouseout="turnoff('XI77')" >1 2 149.818 12 20 0 0.25 -1</span><br>
<span class="XI78" onmouseover="turnon('XI78')" onmouseout="turnoff('XI78')" >6 2 149.818 13 13.5 155.6 22</span><br>
<span class="XI79" onmouseover="turnon('XI79')" onmouseout="turnoff('XI79')" >1 2 155.604 17 20 0 0.25 3.5</span><br>
<span class="XI80" onmouseover="turnon('XI80')" onmouseout="turnoff('XI80')" >3 1 156.456 100</span><br>
<br>
# measure 5:<br>
<span class="XI81" onmouseover="turnon('XI81')" onmouseout="turnoff('XI81')" >14 1 161.543 2</span><br>
<span class="XI82" onmouseover="turnon('XI82')" onmouseout="turnoff('XI82')" >6 2 164.168 16 15 177.49 11 0 0 11 0 177.49</span><br>
<span class="XI83" onmouseover="turnon('XI83')" onmouseout="turnoff('XI83')" >1 1 164.168 -2 20 0 1.5 -2 10</span><br>
<span class="XI84" onmouseover="turnon('XI84')" onmouseout="turnoff('XI84')" >6 2 164.168 10 9 191.72 21</span><br>
<span class="XI85" onmouseover="turnon('XI85')" onmouseout="turnoff('XI85')" >1 2 164.168 10 20 0 0.5</span><br>
<span class="XI86" onmouseover="turnon('XI86')" onmouseout="turnoff('XI86')" >1 2 164.168 17 10 0 0.75 -1 10</span><br>
<span class="XI87" onmouseover="turnon('XI87')" onmouseout="turnoff('XI87')" >1 1 164.168 5 10 0 0.5 0.5</span><br>
<span class="XI88" onmouseover="turnon('XI88')" onmouseout="turnoff('XI88')" >6 1 164.168 5.5 7 191.72 11</span><br>
<span class="XI89" onmouseover="turnon('XI89')" onmouseout="turnoff('XI89')" >9 2 164.969 -5 63</span><br>
<span class="XI90" onmouseover="turnon('XI90')" onmouseout="turnoff('XI90')" >1 2 173.069 11 22.28 0 0.5 1.32</span><br>
<span class="XI91" onmouseover="turnon('XI91')" onmouseout="turnoff('XI91')" >1 1 173.069 6 13 0 0.5 -0.02</span><br>
<span class="XI92" onmouseover="turnon('XI92')" onmouseout="turnoff('XI92')" >1 2 173.069 10 0 0 0.5 0 0 20</span><br>
<span class="XI93" onmouseover="turnon('XI93')" onmouseout="turnoff('XI93')" >1 2 177.495 15 10 0 0.25</span><br>
<span class="XI94" onmouseover="turnon('XI94')" onmouseout="turnoff('XI94')" >1 2 183.432 9 0 0 0.5</span><br>
<span class="XI95" onmouseover="turnon('XI95')" onmouseout="turnoff('XI95')" >1 2 183.432 12 20 0 0.5 2.7</span><br>
<span class="XI96" onmouseover="turnon('XI96')" onmouseout="turnoff('XI96')" >6 2 183.432 12.5 12.5 191.72 11</span><br>
<span class="XI97" onmouseover="turnon('XI97')" onmouseout="turnoff('XI97')" >1 2 183.432 14 13 0 0.5 -1.5</span><br>
<span class="XI98" onmouseover="turnon('XI98')" onmouseout="turnoff('XI98')" >1 1 183.432 7 13 0 0.5 -0.45</span><br>
<span class="XI99" onmouseover="turnon('XI99')" onmouseout="turnoff('XI99')" >1 2 191.716 9 0 0 0.5</span><br>
<span class="XI100" onmouseover="turnon('XI100')" onmouseout="turnoff('XI100')" >1 2 191.716 12 20 0 0.5 3</span><br>
<span class="XI101" onmouseover="turnon('XI101')" onmouseout="turnoff('XI101')" >1 2 191.716 14 11 0 0.5 -1.5</span><br>
<span class="XI102" onmouseover="turnon('XI102')" onmouseout="turnoff('XI102')" >1 1 191.716 5 20 0 0.5 -0.5 1</span><br>
<span class="XI103" onmouseover="turnon('XI103')" onmouseout="turnoff('XI103')" >1 1 191.716 7 11 0 0.5</span><br>
<br>
<span class="XI104" onmouseover="turnon('XI104')" onmouseout="turnoff('XI104')" >14 1 200 2</span><br>
<br>
</span>
